---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_16CiJZJQmdZI8GFqmDVyhZKs&plan=basic&email=dogs%40email.com
    headers:
      Authorization:
      - Bearer sk_test_DoYIF2BQvoF4iSpx4XnyQDlK
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1434077681,
          "id": "cus_6PXO6VU6VtF8W7",
          "livemode": false,
          "description": null,
          "email": "dogs@email.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6PXO6VU6VtF8W7/subscriptions",
            "data": [
              {
                "id": "sub_6PXOIoc9WIaNoI",
                "plan": {
                  "interval": "month",
                  "name": "Basic Plan",
                  "created": 1434072668,
                  "amount": 999,
                  "currency": "usd",
                  "id": "basic",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": "MyFlix Subscription"
                },
                "object": "subscription",
                "start": 1434077681,
                "status": "active",
                "customer": "cus_6PXO6VU6VtF8W7",
                "cancel_at_period_end": false,
                "current_period_start": 1434077681,
                "current_period_end": 1436669681,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6PXO6VU6VtF8W7/sources",
            "data": [
              {
                "id": "card_16CiJZJQmdZI8GFqn9FJKeIm",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 7,
                "exp_year": 2018,
                "fingerprint": "fRzDtqzYyQefT50I",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6PXO6VU6VtF8W7"
              }
            ]
          },
          "default_source": "card_16CiJZJQmdZI8GFqn9FJKeIm"
        }
  recorded_at: Fri, 12 Jun 2015 02:54:42 GMT
recorded_with: VCR 2.9.3
