---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&source=tok_16BgCzJQmdZI8GFqNPrqmYAL&description=Sign%20up%20charge%20for%20dax%40email.com
    headers:
      Authorization:
      - Bearer sk_test_DoYIF2BQvoF4iSpx4XnyQDlK
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_16BgCzJQmdZI8GFqpD77FvtY"
          }
        }
  recorded_at: Tue, 09 Jun 2015 06:27:37 GMT
recorded_with: VCR 2.9.3
