---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_DoYIF2BQvoF4iSpx4XnyQDlK
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16CMq7JQmdZI8GFq6QHWGWsH",
          "livemode": false,
          "created": 1433995131,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16CMq7JQmdZI8GFqnhRQemg5",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "fRzDtqzYyQefT50I",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "204.80.187.225"
        }
  recorded_at: Thu, 11 Jun 2015 03:58:51 GMT
recorded_with: VCR 2.9.3
