---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=6&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_DoYIF2BQvoF4iSpx4XnyQDlK
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16B8rGJQmdZI8GFqgFSvO1AB",
          "livemode": false,
          "created": 1433703058,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16B8rGJQmdZI8GFqBjgGr56v",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "mbhDYZkeGv7WZY6Q",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "204.80.187.236"
        }
  recorded_at: Sun, 07 Jun 2015 18:50:58 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_16B8rGJQmdZI8GFqgFSvO1AB&description=invalid%20charge
    headers:
      Authorization:
      - Bearer sk_test_DoYIF2BQvoF4iSpx4XnyQDlK
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_16B8rGJQmdZI8GFqg0aigzFO"
          }
        }
  recorded_at: Sun, 07 Jun 2015 18:50:58 GMT
recorded_with: VCR 2.9.3
