---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&source=stripe%20token&description=Sign%20up%20charge%20for%20ryan%40example.com
    headers:
      Authorization:
      - Bearer sk_test_DoYIF2BQvoF4iSpx4XnyQDlK
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "There is no token with ID stripe token.",
            "param": "source"
          }
        }
  recorded_at: Fri, 12 Jun 2015 02:48:19 GMT
recorded_with: VCR 2.9.3
