---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_DoYIF2BQvoF4iSpx4XnyQDlK
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16DioRJQmdZI8GFqIKEL0sZr",
          "livemode": false,
          "created": 1434317923,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16DioRJQmdZI8GFq7vblkYxU",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "fRzDtqzYyQefT50I",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "204.80.187.239"
        }
  recorded_at: Sun, 14 Jun 2015 21:38:43 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_16DioRJQmdZI8GFqIKEL0sZr&plan=basic&email=lamar_feeney%40dickiullrich.org
    headers:
      Authorization:
      - Bearer sk_test_DoYIF2BQvoF4iSpx4XnyQDlK
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1434317923,
          "id": "cus_6QZyWkNxUbn3wc",
          "livemode": false,
          "description": null,
          "email": "lamar_feeney@dickiullrich.org",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6QZyWkNxUbn3wc/subscriptions",
            "data": [
              {
                "id": "sub_6QZyZIl8vH7pfl",
                "plan": {
                  "interval": "month",
                  "name": "Basic Plan",
                  "created": 1434072668,
                  "amount": 999,
                  "currency": "usd",
                  "id": "basic",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": "MyFlix Subscription"
                },
                "object": "subscription",
                "start": 1434317923,
                "status": "active",
                "customer": "cus_6QZyWkNxUbn3wc",
                "cancel_at_period_end": false,
                "current_period_start": 1434317923,
                "current_period_end": 1436909923,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6QZyWkNxUbn3wc/sources",
            "data": [
              {
                "id": "card_16DioRJQmdZI8GFq7vblkYxU",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 6,
                "exp_year": 2018,
                "fingerprint": "fRzDtqzYyQefT50I",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6QZyWkNxUbn3wc"
              }
            ]
          },
          "default_source": "card_16DioRJQmdZI8GFq7vblkYxU"
        }
  recorded_at: Sun, 14 Jun 2015 21:38:44 GMT
recorded_with: VCR 2.9.3
